{% extends 'base.html' %}
{% load static %}
{% block pagecontent %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME | FINTRACK COMPANY LIMITED</title>
    <link rel="icon" type="image/png" href="/static/images/logo.png">
</head>
<body>

   
    <div class="home_container">
        <span>
            {% include 'nav.html' %}
        </span>
        <div class="home_content">
            <h1>WE MAKE <br /> LIFE BETTER</h1>
            <p class="fintrack">
                F&nbsp;i&nbsp;n&nbsp;t&nbsp;r&nbsp;a&nbsp;c&nbsp;k &nbsp; i&nbsp;s&nbsp; 
                a&nbsp;n&nbsp; o&nbsp;r&nbsp;g&nbsp;a&nbsp;n&nbsp;i&nbsp;z&nbsp;a&nbsp;t&nbsp;
                i&nbsp;o&nbsp;n&nbsp; k&nbsp;n&nbsp;o&nbsp;w&nbsp;n&nbsp; f&nbsp;o&nbsp;r&nbsp; 
                r&nbsp;e&nbsp;v&nbsp;o&nbsp;l&nbsp;u&nbsp;t&nbsp;i&nbsp;o&nbsp;n&nbsp;a&nbsp;l&nbsp;
                i&nbsp;z&nbsp;i&nbsp;n&nbsp;g&nbsp; t&nbsp;h&nbsp;e&nbsp; w&nbsp;o&nbsp;r&nbsp;l&nbsp;
                d&nbsp; t&nbsp;e&nbsp;c&nbsp;h&nbsp;n&nbsp;o&nbsp;l&nbsp;o&nbsp;g&nbsp;i&nbsp;c&nbsp;a&nbsp;l&nbsp;l&nbsp;y
            </p>
            <br /><br /><br />
        </div>
        
    </div>
    
</body>
</html>
{% endblock %}

