{% extends 'base.html' %}
{% block pagecontent %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacancy | Job Opportunity - Fintrack Company Limited</title>
    <link rel="icon" type="image/png" href="/static/images/logo.png">
</head>
<body>
    <div class="vacancy_container">
        <div class="vacancy_content">
            <span>
                {% include 'nav.html' %}
            </span><br><br><br>
            <h1><strong>Digital Marketing - Work from Home</strong></h1>
            
            <div>$80,000 to $140,000 Yearly
            Vision , Medical , Dental , Life Insurance , Retirement
            Full-Time </div><br><br>


           <div id="Job_desc_background">
                <h2>Job Description:</h2><br />
                <h3>Digital Marketer Job Description:</h3>
                <div class="vacancytxt">
                    We are seeking a highly motivated and detail-oriented Digital marketer to join our team. 
                    Your primary responsibility is to engage with clients and guide them through our sales process 
                    with exceptional professionalism and efficiency. This role demands keen attention to detail, 
                    a commitment to following established processes, and a proactive approach to closing deals while 
                    ensuring excellent attendance! <br><br>
                </div>

                <h3>What you bring:</h3>
                <ul class="vacancytxts">
                    <li>A love for sales, and a positive mindset, eager for a challenge.</li>
                    <li>Ability to work in a structured and process-driven sales environment.</li>    
                    <li>Proactive and quick decision-making capabilities, and personal excellence.</li>    
                    <li >Motivated and results-driven.</li>    
                    <li>Great keyboarding and spelling skills.</li>    
                    <li>Your authentic self and personality. We are hiring you for YOU!</li>
                </ul> <br>

                <h2>Responsibilities:</h2><br />

                <h3>Inbound and Outbound Calls:</h3>
                <ul><li>Handle a high volume of 40-50 inbound and outbound calls from clients.</li></ul><br />
                
                <h3>Client Engagement:</h3>
                <ul><li>
                    Handle every interaction with clients with professionalism and care, to ensure every client is
                    referenceable and that we consistently represent our Partners to the best of our ability.
                </li></ul><br />


                <h3>Sales Processes:</h3>
                <ul>
                    <li>
                        Follow our established sales processes and scripts to ensure consistency and maximize
                        success. Continuously improve your understanding and execution of these procedures.
                    </li>
                    <li>
                        Build value throughout the call, update client records, and pitch three branded apparel offerings
                        on every call. Light fundraising and donation collection.
                    </li>
                </ul><br>

                <h3>Coaching and Training:</h3>
                <ul>
                    <li>
                        Participate in ongoing coaching and training to stay updated on product knowledge,
                        campaigns, and sales techniques, and share best practices.
                    </li>
                </ul> <br>

                <h3>Independent Sales Activities:</h3>
                <ul>
                    <li>
                        Work autonomously from your home office to handle inbound leads and make outbound calls
                        to prospective clients. Self-directed coaching is required.
                    </li>
                </ul><br />

                <h3>Feedback Loop:</h3>
                <ul>
                    <li>
                        Actively seek feedback from your leaders, sales team, and peers to continuously improve the
                        quality of service and address growth areas.
                    </li>
                </ul><br />

                <h3>Accountability and Attendance:</h3>
                <ul>
                    <li>
                        Maintain excellent attendance and punctuality to ensure consistent coverage to care for our
                        clients by keeping your commitments to your schedule, breaks, lunches, and meetings to
                        optimize team collaboration and workflow.
                    </li>
                </ul><br> 

                <h2>Requirements:</h2><br />

                <h3>Requirements for Digital Marketing</h3>
                <ul class="vacancytxts">
                    <li>This position is remote however, the employee must live in the United State</li>
                    <li>Zero experience employee must be willing to learn.</li>
                    <li>Minimum High School Degree or equivalent.</li>
                    <li> Must complete a background check within 48 hours of receiving an offer.</li>
                    <li>Must complete a reference check (3 professional references needed).</li>
                    <li>Must have a quiet workspace: Free of disruptions for professional call handling.</li>
                    <li>Experience preferred in making high-volume sales calls.</li>
                    <li> Knowledge in Zoom, Microsoft Office Suite, Five9, or other call center software preferred.</li>
                </ul><br />

                <h3>Technical Requirements:</h3>
                <ul class="vacancytxts">
                    <li>Must have hard-wired Internet Connection: We are unable to work off Wi-Fi.</li>
                    <li>Must have a Download speed above 10/ Upload Speed above 5.</li>
                    <li>Must have a quiet and distraction-free work environment at home conducive to making and receiving calls professionally.</li>
                    <li>Desktop Equipment provided: You must work off our equipment.</li>
                </ul><br />
                
                <h3>Physical Requirements:</h3>
                <ul class="vacancytxts">
                    <li>Must be able to sit for long periods of time.</li>
                </ul><br />
                <h3>
                    Digital Marketer Pay Rate and Schedule:
                </h3>
                <ul class="vacancytxts">
                    <li>Rate of pay: $25 per hour + uncapped commission.</li>
                    <li>Average Associates earn $80K to $140K per year!</li>
                    <li>Top Performers earn $170K plus per year!</li>
                    <li>Must be able to work any 8-hour shift between 8 am CST - 8 pm CST.</li>
                    <li>Scheduled one-hour lunch and two 15-minute breaks daily.</li>
                    <li>Monday - Friday, offering full-time shifts only.</li>
                    <li>Two Saturdays per quarter (about two Saturdays every three months).</li>
                </ul><br />

                <p>
                    <strong>Benefits for a Digital Marketer</strong> - Free Telemedicine, Medical Insurance, Health Spending
                    Account (HSA), Medical, Dental, Vision, and Life Insurance, Wellness Program, 401K with
                    company match, PT0 (vacation, sick, personal, holidays, half-holidays), Bereavement leave,
                    Tuition Reimbursement.
                </p>
           </div><br />
            <p>***We are interested in every qualified candidate who is eligible to work in the United States. However, we are not able to sponsor visas***</p> <br><br><br>
           
            <div>
                <a href="{% url 'application' %}" class="action_btn">Apply Now!</a>
            </div>
            
        </div>
    </div>
</body>
</html>
{% endblock %}
